.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.editing {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.editing td {
  align-items: center;
  background-color: yellow;
  border-left: 1px solid #252525;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 150px;
}

.container td {
  align-items: center;
  border-left: 1px solid #252525;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 150px;
}

tr:last-of-type {
  border-bottom: 1px solid #252525;
}
